n8n/WebApp AI CS Honda.json
{
  "name": "WebApp AI CS Honda",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "honda-ai-cs",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "webhookId": "honda-ai-cs"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu adalah Customer Service Senior untuk Honda Indonesia bernama \"HondaBot\".\nTugasmu adalah menjawab pertanyaan pelanggan dengan ramah, profesional, dan persuasif.\n\nPengetahuan Produk:\n- Honda Brio: Irit, lincah, cocok untuk anak muda. Harga mulai 160jt-an.\n- Honda HR-V: SUV stylish, fitur Honda Sensing lengkap.\n- Honda CR-V: SUV premium, tenaga turbo/hybrid.\n\nAturan Menjawab:\n1. Gunakan Bahasa Indonesia yang sopan tapi santai.\n2. Jika ditanya harga, berikan kisaran dan sarankan hubungi dealer terdekat.\n3. Jika tidak tahu jawabannya, jangan mengarang. Bilang \"Mohon maaf, untuk info detail itu saya perlu cek ke tim sales kami.\"\n4. Selalu akhiri dengan menawarkan bantuan lain, misal \"Ada lagi yang ingin ditanyakan Kak?\""
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {}
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        680,
        660
      ],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: $json.output }) }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        460
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_language_model": [
        [
          {
            "node": "AI Agent",
            "type": "ai_language_model",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
